{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1><i>Carlae</i></h1>
</div>

<img src="http://upload.wikimedia.org/wikipedia/commons/e/e7/Leptotyphlops_carlae.jpg" alt="Attribution: Blair Hedges, Penn State" class="img-rounded pull-right">

<p class="lead"><em>Carlae</em> is a private URL shortener that is designed to work with your domain.

<p><em>Carlae</em> includes a simple login management and registration system. User registration is built around a <em>web-of-trust</em> model, where existing users can invite new users to the service.</p>


<h2>Getting Started</h2>
<p>Of course, you'll need your own domain and a server to host this. After that the requirements are pretty straightforward.</p>

<h2>Features</h2>
<p>The features of <em>carlae</em> are purposely limited. Form is built around function. With that said there are a few features built in.</p>

        <p>A top 10 list of click-throughs can be found here. It's just a quick and easy way to get some simple stats on usage.</p>

        <p>A rawdump feature is also built in. The shortlinks generated are not meant to be private, so crawlers can access your site throught the rawdump feature. It looks like this.</p>


<br><br>
{% endblock %}
