{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<br><br>

{% if g.user.is_authenticated() %}
{% include 'forms/partials/shrink.html' %}
{% endif %}

{% if not g.user.is_authenticated() %}
        {% include 'forms/partials/login.html' %}
{% endif %}

<p class="lead"><i>Carlae</i> is a private, self-hosted URL shortener running on the Flask framework.</p>

<p><i>Carlae</i> is designed to be used on your own personal domain. It features a simple user management system to facilitate
logins and registration. New users are added as part of a <i>web-of-trust</i> model: any registered user can invite a new user to the service.</p>

<p><a href="{{ url_for('about') }}">Click here</a> for more information about <i>carlae</i> and to get a quick run down of its features.</p>

<p>Go ahead an give it a try:</p>

<ul>
<li><strong>USERNAME</strong>: demo@carlae.com</li>
<li><strong>PASSWORD</strong>: shortenIT</li>
</ul>

<p>This is a <strong>demo site</strong>, so of course you can expect that the application will be reset daily.</p>

<div class="alert alert-danger text-center"><p><strong>DO NOT USE THIS SITE FOR ANYTHING OTHER THAN DEMONSTRATION PURPOSES!</strong></p>
<p>Your shortlinks will be lost, that's a guarantee. You've been duly warned.
</p>
</div>

<br><br>

{% endblock %}
