{% block content %}
<br>
<div class="container">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="well">
                <h2>Sign In</h2>
                <p>Go ahead and sign in... that way you can start making shortlinks. Enjoy!</p>

<form method="post" class="form-horizontal" role="form">
{{form.hidden_tag()}}
{{ form.email(class_ = 'form-control first-input', placeholder = form.email.label.text, required = true, autofocus = true) }}
{{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
 <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox pull-right">
        <label class="small">{{ form.remember(class_ = '') }} Remember me</label>
        </div>
    </div>
 </div>
<input type="submit" value="Sign In" class="btn btn-primary btn-lg btn-default pull-right" />

    {% for error in form.errors.email %}
<span style="color: red;">{{ error }}</span>
{% endfor %}
    {% for error in form.errors.password %}
<span style="color: red;">{{ error }}</span>
{% endfor %}<br>
</form>
<br><br><br>

            </div>
        </div>
    </div>
</div> <!-- /container -->
<br><br>
{% endblock %}