
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

<form method="post" class="form-horizontal" role="form">
{{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
{{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
 <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox pull-right">
        <label>{{ form.remember(class_ = 'checkbox', required = true) }} Remember me</label>
        </div>
    </div>
 </div>
<input type="submit" value="Sign In" class="btn btn-primary btn-lg btn-default pull-right" />
</form>

        </div>
    </div>
</div>
{% endblock %}