{% block content %}
<br>
<div class="container">
    <div class="row-fluid">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="well">

                <h3 class="text-center">LESS IS MORE</h3>
<form method="post" class="form-horizontal" role="form">
    {{form.hidden_tag()}}
                <div class="row-fluid">
              <div class="input-group input-group-lg">
                  {{ form.url(class_ = 'form-control', placeholder = form.url.label.text, required = true) }}
                <span class="input-group-btn">
                  <button type="submit" value="Submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-link" style="font-size: 25px; vertical-align:middle;"></span>
                  </button>
                </span>
              </div>
            </div>
        {% for error in form.errors.url %}
<span style="color: red;">{{ error }}</span>
{% endfor %}<br>
    </form>
<br>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<br><br>
{% endblock %}