{% extends 'layouts/form.html' %}
{% block title %}Invite{% endblock %}
{% block content %}
  <form method="post" class="form">
      {{ form.hidden_tag() }}
    <h3 class="form-heading">Send an invitation <a href="{{ url_for('home') }}" title="Back to homepage"><i class="icon icon-home pull-right"></i></a></h3>
    {{ form.email(class_ = 'form-control first-input', placeholder = form.email.label.text, required = true, autofocus = true) }}
    <input type="submit" value="Send Invitation" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
